interactions:
- request:
    body: '{"Username": "Zerario", "Code": "PISHOCK-SHARECODE", "Apikey": "PISHOCK-APIKEY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://do.pishock.com/api/GetShockerInfo
  response:
    body:
      string: '{"clientId":3968,"id":5684,"name":"New Shocker","paused":true,"maxIntensity":100,"maxDuration":15,"online":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Username": "Zerario", "ShockerId": 5684, "Pause": false, "Apikey": "PISHOCK-APIKEY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://do.pishock.com/api/PauseShocker
  response:
    body:
      string: Operation Successful, Probably.
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Username": "Zerario", "Name": "random", "Duration": 1, "Op": 2, "Code":
      "PISHOCK-SHARECODE", "Apikey": "PISHOCK-APIKEY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://do.pishock.com/api/apioperate
  response:
    body:
      string: Operation Attempted.
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Username": "Zerario", "ShockerId": 5684, "Pause": true, "Apikey": "PISHOCK-APIKEY"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://do.pishock.com/api/PauseShocker
  response:
    body:
      string: Operation Successful, Probably.
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
